GACHALOGS_SAFE_GROUP=[987654321,123456789]
GACHA_EXPIRE_SEC=3600
RESOURCES_DIR="/path/to/data"
GACHALOGS_FONT="/path/to/data/fonts/pillow_use.ttf"
GACHALOGS_PIE_FONT="/path/to/data/fonts/matplotlib_use.ttf"
GACHALOGS_ACHIEVE_FONT="/path/to/data/fonts/achievement_use.ttf"
